# 環境ファイル
.env
*.DS_Store
*poetry.lock
*.bash_history

# Python
__pycache__/
*.pyc


/src/src/csv/*
!/src/src/csv/read_laters.csv
/src/src/json/*
/src/src/logs/*
/src/src/text/*


!/src/src/**/.gitkeep
src/common/config/config.ini

.devcontainer/infra/docker/ssh-stub/ssh/id*
